<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  "
>
  <div style="text-align: center; margin-bottom: 20px">
    <h2
      style="
        font-family: 'Playfair Display', serif;
        font-size: 28px;
        color: #333;
      "
    >
      Harmonogram Weselny
    </h2>
  </div>
  <ul style="list-style-type: none; padding: 0; width: 100%">
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">18:00</span>
      <span style="color: #555">Ciepłe danie</span>
    </li>
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">19:00</span>
      <span style="color: #555">Pierwszy taniec</span>
    </li>
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">21:00</span>
      <span style="color: #555">Ciepłe danie</span>
    </li>
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">22:00</span>
      <span style="color: #555">Tort</span>
    </li>
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">24:00</span>
      <span style="color: #555">Oczepiny</span>
    </li>
    <li
      style="
        padding: 10px;
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <span style="font-weight: bold; color: #555">01:00</span>
      <span style="color: #555">Ciepłe danie</span>
    </li>
  </ul>
</div>
